html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}
.button {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 40%;
}
.header{
  display: flex;
  padding: 34px;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: white;
  margin: 0;
}
.header img{
  width: 32px;
  height: 32px;
}
.header p{
  flex-grow: 0.9;
  font-size: 32px;
  color: #757575;
  margin-right: 32px;
}
.header p strong{
  color:#212020;
}
.desktop ul {
  display: inline-flex;
  flex-wrap: wrap;
}
.desktop li {
  display: inline-block;
  padding: 1rem;
  justify-content: space-around;
  margin-left: 24px;
}
.desktop li a{
  color: #393E46;
  margin-left: 16px;
  text-decoration: none;
  font-weight: bold;
}
.mobile{
  display: none;
}

@media only screen and (max-width: 700px){
  .desktop{
    display: none;
  }
  .header p{
    display: none;
  }
  .header .logo{
    display: none;
  }
  .mobile{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .mobile ul{
    align-items: center;
    width: 90%;
  }
  .mobile li{
    padding: 0;
  }
}
@media only screen and (max-width:592px){
	header{
		justify-content: space-between;
    margin: 0;
    padding: inherit;
	}
	header .mobile{
		display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
  	flex-basis: 50%;
	}
}
/*Jumbotron style*/
.jumbotron {
  display: flex;
  position: relative;
  top: 4rem;
  align-items: center;
  background-color: #ededed;
}

.jumbotron-image {
  width: 60%;
  margin: 2rem 1.5rem;
}

.jumbotron-image img {
  width: 100%;
  height: auto;
}

.jumbotron-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
}

.jumbotron-text {
  margin-left: 1rem;
}

.jumbotron-text h1 {
  margin: 2rem 1.5rem 2rem 0;
  color: #52524E;
  font-size: 32px;
  padding-bottom: 24px;
  font-weight: bold;
}

.jumbotron-text h2 {
  color: #52524E;
 font-size: 24px;
 padding-bottom: 24px;
 line-height: normal;
 margin: 0;
}

.jumbotron .btn {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  width: 120px;
  max-width: 86%;
  padding: 16px 8px;
  margin: 1.5rem 1.5rem 2rem 1rem;
  text-decoration: none;
  background-color: #404040;
  color: white;
  border-radius: 6px;
}

.jumbotron .btn:active {
  color: white;
  background-color: #F96D00;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
  }

@media only screen and (max-width:700px){
  .jumbotron{
    display: block;
  }
  .jumbotron-image img{
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .jumbotron-content{
    display: inline-block;
    flex-direction: column;
    margin-right: 1rem;
    padding: 1rem;
    width: 100%;
    height: auto;
  }
  .jumbotron-text h1{
    font-size: 1.35rem;
    margin-right: 0;
    width: 100%;
  }

  .jumbotron .btn{
    padding-top: 8px;
    padding-bottom: 8px;
    width: 90%;
  }

  .jumbotron-text h2{
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 500px){
  .jumbotron{
    flex-direction: column;
  }
  .jumbotron-image{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .jumbotron-image img{
    width: 100%;
    height: auto;
    }
    .jumbotron-text{
      width: 100%;
      padding: 1rem;
      height: auto;
      text-align: left;
    }

}

  /*Content styling*/
.content{
  display: flex;
  width: 100%;
  padding-top: 16px;
  position: relative;
  background-color: #f7f8f9;
  }
.left{
  margin: 32px 24px;
  width: 60%;
  }
.left .library{
  width: 100%;
  }
.left h1{
  color: #52524E;
  font-size: 32px;
  padding-top: 32px;
  padding-bottom: 24px;
}
.left p{
  padding-top: 24px;
  color: #52524E;
  font-weight: lighter;
  font-size: 18px;
}
.left .author{
  padding-bottom: 32px;
}

.right{
  display: flex;
  flex-direction: column;
  width: 32.4rem;
  justify-content: flex-start;
  margin-left: 1.5rem;
}
.small{
  display: flex;
}
.info:hover{
  background-color: #d4d6d8;
}
.right img{
  width: 35%;
  margin-left: 1rem;
}
.pic img{
  width: 100%;
  margin-bottom: 1rem;
}
.info{
  align-items: center;
  margin-left: 10px;
  padding-left: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
}
.info h3{
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.info p{
  font-size: 1.15rem;
  margin-bottom: 0.5rem;
}
.info a{
  color: #8db3ef;
}
.pic-mobile{
  display: none;
}
.small .mobile{
  display: none;
}
@media only screen and (max-width: 700px) {
  .content{
    display: block;
    flex-direction: column;
    width: 100%;
  }
  .left{
    width: 90%;
  }
  .right{
    padding: 1rem 1rem 2rem 1rem;
  }
	.jumbotron-text{
		margin-top: auto;
	}
  .small{
    display: block;
  }
  .pic {
    display: none;
  }
  .pic-mobile{
    display: block;
    width: 80%;
  }
  .pic-mobile img{
    width: 90%;
    margin-right: 0.5rem;
  }
  .info{
    display: block;
    margin-bottom: 1rem;
  }
  .small .hightlight{
    display: none;
  }

}

/*Third section: courses*/
.section-courses{
  background-color: #d6d6d6;
  padding: 32px 72px;
}
.section-title{
  color: #52524E;
  font-size: 32px;
  padding-top: 32px;
  padding-bottom: 24px;
  text-align: center;
  position: relative;
  line-height: 1.6;
  font-weight: bold;
}
#courses-list{
  bottom: 1rem;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.courses{
  width: 27%;
  padding: 32px;
  justify-content: space-between;
}
.courses img{
  width: 100%;
  height: auto;
}
.title-course{
  padding-top:1rem;
  color: black;
  padding-bottom: 24px;
  height: 15rem;
  background-color: white;
}
.title-course h3{
  font-size: 28px;
  margin: 0.8rem 0.5rem;
  font-weight: bold;
}
.title-course h2{
  font-size: 1.5rem;
  font-weight: lighter;
  margin: 1rem 0.5rem;
}
.title-course p{
  font-size: 1.1rem;
  margin: 0.5rem;
  font-weight: 100;
}
.desc-courses p {
  font-size: 1.25rem;
}
.courses-names{
  display: none;
}
/*mobile*/
@media only screen and (max-width: 700px) {
.section-courses{
  width: 100%auto;
}
  #List-courses {
    display: block;
    background-color: white;
    width: 100%;
  }

  .courses {
    display: none;
  }

  .courses-names{
    display: block;
    width: 100%;
  }

  .button2 {
    width: 85%;
    padding-top: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 32px;
    background-color: #f7f7f7;
    margin-left: 1rem;
    margin-bottom: 8px;
    font-weight: bolder;
  }

  .button2:hover {
    background-color: #f7af42;
    color: white;
  }
}

/*Thesis exhibit*/
.exhibit{
  width: 100%;
  display: flex;
  position: relative;
  padding-top: 16px;

}
.left-exhibit{
  margin: 32px 24px;
  width: 60%;
  }
  .left-exhibit video{
    width: 100%;
  }
  .left-exhibit h1{
    color: #52524E;
    font-size: 32px;
    padding-top: 32px;
    padding-bottom: 24px;
  }
  .left-exhibit p{
    padding-top: 24px;
    color: #52524E;
    font-weight: lighter;
    font-size: 18px;
  }
  video{
    width: 100%;
  }
  .right-exhibit {
    display: flex;
    flex-direction: column;
    width: 32.4rem;
    justify-content: flex-start;
    margin-left: 1.5rem;
    margin-top: 34px;
  }
  .smalls{
    display: flex;
    float: right;
  }
  .smalls .pic{
    height: auto;
    width: 35%;
    margin: 16px;
  }
  .small .info{
    width: 65%;
  }
  .info h3{
    font-weight: bolder;
  }
  .small .pic img{
    width: 100%;
    margin-bottom: 1rem;
  }
  @media only screen and (max-width: 700px){
    .left-exhibit video{
      width: 90%;
      padding-top: 16px;
      padding-bottom: 24px;
    }
    .left-exhibit h1 {
      display: none;
    }
    .left-exhibit p{
      display: none;
    }
    .right-exhibit{
      display: none;
    }
  }
  /*Footer*/
  footer{
    padding-top: 16px;
    padding-bottom: 32px;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }
  footer span{
    margin-left: 24px;
  }
  footer a{
    padding-right: 16px;
    color: #52524E;
  }
  @media only screen and (max-width: 700px){
    #footer-desktop{
      display: none;
    }
    footer span{
      width: 90%;
      text-align: center;
      margin: auto 0;
    }
  }
